In [1]:
import os
import gc
import pandas as pd
pd.set_option('display.max_colwidth', -1)
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

from timeit import default_timer
start = default_timer()

def start_timer():
    st = default_timer()
    return st
def stop_timer(st):
    runtime = default_timer() - st
    print ("Elapsed time(sec): ", round(runtime,2))

###### PLOTLY #############
from plotly.offline import init_notebook_mode, iplot, plot
import plotly.graph_objs as go
import plotly.plotly as py
from plotly import tools
init_notebook_mode(connected=True)

D:\Anaconda\lib\site-packages\h5py\__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
st = start_timer()
input_dir = os.path.join(os.pardir, 'D:\Git Workspace\CreditRiskProject\data')
print('Input files:\n{}'.format(os.listdir(input_dir)))
print('Loading data sets...')

sample_size = None
app_train_df = pd.read_csv(os.path.join(input_dir, 'application_train.csv'), nrows=sample_size)
app_test_df = pd.read_csv(os.path.join(input_dir, 'application_test.csv'), nrows=sample_size)
bureau_df = pd.read_csv(os.path.join(input_dir, 'bureau.csv'), nrows=sample_size)
bureau_balance_df = pd.read_csv(os.path.join(input_dir, 'bureau_balance.csv'), nrows=sample_size)
credit_card_df = pd.read_csv(os.path.join(input_dir, 'credit_card_balance.csv'), nrows=sample_size)
pos_cash_df = pd.read_csv(os.path.join(input_dir, 'POS_CASH_balance.csv'), nrows=sample_size)
prev_app_df = pd.read_csv(os.path.join(input_dir, 'previous_application.csv'), nrows=sample_size)
install_df = pd.read_csv(os.path.join(input_dir, 'installments_payments.csv'), nrows=sample_size)
print('Data loaded.\nMain application training data set shape = {}'.format(app_train_df.shape))
print('Main application test data set shape = {}'.format(app_test_df.shape))
print('Positive target proportion = {:.2f}'.format(app_train_df['TARGET'].mean()))
stop_timer(st)

Input files:
['application_test.csv', 'application_train.csv', 'bureau.csv', 'bureau_balance.csv', 'credit_card_balance.csv', 'HomeCredit_columns_description.csv', 'installments_payments.csv', 'POS_CASH_balance.csv', 'previous_application.csv', 'sample_submission.csv']
Loading data sets...
Data loaded.
Main application training data set shape = (307511, 122)
Main application test data set shape = (48744, 121)
Positive target proportion = 0.08
Elapsed time(sec):  120.44

In [3]:
app_train_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
app_train_df['LOAN_INCOME_RATIO'] = app_train_df['AMT_CREDIT'] / app_train_df['AMT_INCOME_TOTAL']
app_train_df['ANNUITY_INCOME_RATIO'] = app_train_df['AMT_ANNUITY'] / app_train_df['AMT_INCOME_TOTAL']
app_train_df['ANNUITY LENGTH'] = app_train_df['AMT_CREDIT'] / app_train_df['AMT_ANNUITY']

In [5]:
data = [go.Histogram(x=app_train_df[app_train_df["TARGET"]==1]['LOAN_INCOME_RATIO'], name='Target 1'), 
        go.Histogram(x=app_train_df[app_train_df["TARGET"]==0]['LOAN_INCOME_RATIO'], name='Target 0')]

layout = go.Layout(title='Distribution for Loan Income Ratio',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='LOAN_INCOME_RATIO Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\LOAN_INCOME_RATIO Histogram.html'

In [6]:
data = [go.Histogram(x=app_train_df[app_train_df["TARGET"]==1]['ANNUITY_INCOME_RATIO'], name='Target 1'), 
        go.Histogram(x=app_train_df[app_train_df["TARGET"]==0]['ANNUITY_INCOME_RATIO'], name='Target 0')]

layout = go.Layout(title='Distribution for ANNUITY_INCOME_RATIO',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='ANNUITY_INCOME_RATIO Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\ANNUITY_INCOME_RATIO Histogram.html'

In [7]:
data = [go.Histogram(x=app_train_df[app_train_df["TARGET"]==1]['ANNUITY LENGTH'], name='Target 1'), 
        go.Histogram(x=app_train_df[app_train_df["TARGET"]==0]['ANNUITY LENGTH'], name='Target 0')]

layout = go.Layout(title='Distribution for ANNUITY LENGTH',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='ANNUITY LENGTH Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\ANNUITY LENGTH Histogram.html'

In [39]:
# Previous applications
agg_funs = {'SK_ID_CURR': 'count', 'AMT_CREDIT': 'sum'}
prev_apps = prev_app_df.groupby('SK_ID_CURR').agg(agg_funs)
prev_apps.columns = ['PREV APP COUNT', 'TOTAL PREV LOAN AMT']
merged_df = app_train_df.merge(prev_apps, left_on='SK_ID_CURR', right_index=True, how='left')

In [40]:
merged_df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,LOAN_INCOME_RATIO,ANNUITY_INCOME_RATIO,ANNUITY LENGTH,PREV APP COUNT,TOTAL PREV LOAN AMT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,1.0,2.007889,0.121978,16.461104,1.0,179055.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,4.790750,0.132217,36.234085,3.0,1452573.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,2.000000,0.100000,20.000000,1.0,20106.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,2.316167,0.219900,10.532818,9.0,2625259.5
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,4.222222,0.179963,23.461618,6.0,999832.5

In [10]:
data = [go.Histogram(x=merged_df[merged_df["TARGET"]==1]['PREV APP COUNT'], name='Target 1'), 
        go.Histogram(x=merged_df[merged_df["TARGET"]==0]['PREV APP COUNT'], name='Target 0')]

layout = go.Layout(title='Distribution for PREV APP COUNT',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='PREV APP COUNT Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\PREV APP COUNT Histogram.html'

In [11]:
data = [go.Histogram(x=merged_df[merged_df["TARGET"]==1]['TOTAL PREV LOAN AMT'], name='Target 1'), 
        go.Histogram(x=merged_df[merged_df["TARGET"]==0]['TOTAL PREV LOAN AMT'], name='Target 0')]

layout = go.Layout(title='Distribution for TOTAL PREV LOAN AMT',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='TOTAL PREV LOAN AMT Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\TOTAL PREV LOAN AMT Histogram.html'

In [41]:
 # Average the rest of the previous app data
prev_apps_avg = prev_app_df.groupby('SK_ID_CURR').mean()
merged_df = merged_df.merge(prev_apps_avg, left_on='SK_ID_CURR', right_index=True,
                            how='left', suffixes=['', '_PAVG'])

In [42]:
merged_df.columns[-25:]

Index(['RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE_PAVG', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')

AMT_ANNUITY_PAVG
AMT_CREDIT_PAVG
AMT_GOODS_PRICE_PAVG
HOUR_APPR_PROCESS_START_PAVG

In [14]:
data = [go.Histogram(x=merged_df[merged_df["TARGET"]==1]['AMT_ANNUITY_PAVG'], name='Target 1'), 
        go.Histogram(x=merged_df[merged_df["TARGET"]==0]['AMT_ANNUITY_PAVG'], name='Target 0')]

layout = go.Layout(title='Distribution for AMT_ANNUITY_PAVG',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='AMT_ANNUITY_PAVG Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\AMT_ANNUITY_PAVG Histogram.html'

In [15]:
data = [go.Histogram(x=merged_df[merged_df["TARGET"]==1]['AMT_CREDIT_PAVG'], name='Target 1'), 
        go.Histogram(x=merged_df[merged_df["TARGET"]==0]['AMT_CREDIT_PAVG'], name='Target 0')]

layout = go.Layout(title='Distribution for AMT_CREDIT_PAVG',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='AMT_CREDIT_PAVG Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\AMT_CREDIT_PAVG Histogram.html'

In [16]:
data = [go.Histogram(x=merged_df[merged_df["TARGET"]==1]['AMT_GOODS_PRICE_PAVG'], name='Target 1'), 
        go.Histogram(x=merged_df[merged_df["TARGET"]==0]['AMT_GOODS_PRICE_PAVG'], name='Target 0')]

layout = go.Layout(title='Distribution for AMT_GOODS_PRICE_PAVG',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='AMT_GOODS_PRICE_PAVG Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\AMT_GOODS_PRICE_PAVG Histogram.html'

In [13]:
data = [go.Histogram(x=merged_df[merged_df["TARGET"]==1]['HOUR_APPR_PROCESS_START_PAVG'], name='Target 1'), 
        go.Histogram(x=merged_df[merged_df["TARGET"]==0]['HOUR_APPR_PROCESS_START_PAVG'], name='Target 0')]

layout = go.Layout(title='Distribution for HOUR_APPR_PROCESS_START_PAVG',barmode='stack')

fig = go.Figure(data=data, layout=layout)

plot(fig, filename='HOUR_APPR_PROCESS_START_PAVG Histogram')

'file://D:\\Git Workspace\\CreditRiskProject\\HOUR_APPR_PROCESS_START_PAVG Histogram.html'

In [43]:
def process_dataframe(input_df, encoder_dict=None):
    """ Process a dataframe into a form useable by LightGBM """

    # Label encode categoricals
    categorical_feats = input_df.columns[input_df.dtypes == 'object']
    categorical_feats = categorical_feats
    encoder_dict = {}
    for feat in categorical_feats:
        encoder = LabelEncoder()
        input_df[feat] = encoder.fit_transform(input_df[feat].fillna('NULL'))
        encoder_dict[feat] = encoder

    return input_df, categorical_feats.tolist(), encoder_dict

In [44]:
# Previous app categorical features
prev_app_df, cat_feats, _ = process_dataframe(prev_app_df)
prev_apps_cat_avg = prev_app_df[cat_feats + ['SK_ID_CURR']].groupby('SK_ID_CURR').agg({k: lambda x: str(x.mode().iloc[0]) for k in cat_feats})
merged_df = merged_df.merge(prev_apps_cat_avg, left_on='SK_ID_CURR', right_index=True,
                        how='left', suffixes=['', '_BAVG'])
print('Shape after merging with previous apps cat data = {}'.format(merged_df.shape))

Shape after merging with previous apps cat data = (307511, 163)

In [45]:
tmp = merged_df.columns[merged_df.dtypes == 'object']
for name in tmp: 
    print(merged_df[name].value_counts())

Cash loans         278232
Revolving loans    29279
Name: NAME_CONTRACT_TYPE, dtype: int64
F      202448
M      105059
XNA    4
Name: CODE_GENDER, dtype: int64
N    202924
Y    104587
Name: FLAG_OWN_CAR, dtype: int64
Y    213312
N    94199
Name: FLAG_OWN_REALTY, dtype: int64
Unaccompanied      248526
Family             40149
Spouse, partner    11370
Children           3267
Other_B            1770
Other_A            866
Group of people    271
Name: NAME_TYPE_SUITE, dtype: int64
Working                 158774
Commercial associate    71617
Pensioner               55362
State servant           21703
Unemployed              22
Student                 18
Businessman             10
Maternity leave         5
Name: NAME_INCOME_TYPE, dtype: int64
Secondary / secondary special    218391
Higher education                 74863
Incomplete higher                10277
Lower secondary                  3816
Academic degree                  164
Name: NAME_EDUCATION_TYPE, dtype: int64
Married                 196432
Single / not married    45444
Civil marriage          29775
Separated               19770
Widow                   16088
Unknown                 2
Name: NAME_FAMILY_STATUS, dtype: int64
House / apartment      272868
With parents           14840
Municipal apartment    11183
Rented apartment       4881
Office apartment       2617
Co-op apartment        1122
Name: NAME_HOUSING_TYPE, dtype: int64
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants              9813
Medicine staff           8537
Security staff           6721
Cooking staff            5946
Cleaning staff           4653
Private service staff    2652
Low-skill Laborers       2093
Waiters/barmen staff     1348
Secretaries              1305
Realty agents            751
HR staff                 563
IT staff                 526
Name: OCCUPATION_TYPE, dtype: int64
TUESDAY      53901
WEDNESDAY    51934
MONDAY       50714
THURSDAY     50591
FRIDAY       50338
SATURDAY     33852
SUNDAY       16181
Name: WEEKDAY_APPR_PROCESS_START, dtype: int64
Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                    8893
Trade: type 7             7831
Kindergarten              6880
Construction              6721
Business Entity Type 1    5984
Transport: type 4         5398
Trade: type 3             3492
Industry: type 9          3368
Industry: type 3          3278
Security                  3247
Housing                   2958
Industry: type 11         2704
Military                  2634
Bank                      2507
Agriculture               2454
Police                    2341
Transport: type 2         2204
Postal                    2157
Security Ministries       1974
Trade: type 2             1900
Restaurant                1811
Services                  1575
University                1327
Industry: type 7          1307
Transport: type 3         1187
Industry: type 1          1039
Hotel                     966
Electricity               950
Industry: type 4          877
Trade: type 6             631
Industry: type 5          599
Insurance                 597
Telecom                   577
Emergency                 560
Industry: type 2          458
Advertising               429
Realtor                   396
Culture                   379
Industry: type 12         369
Trade: type 1             348
Mobile                    317
Legal Services            305
Cleaning                  260
Transport: type 1         201
Industry: type 6          112
Industry: type 10         109
Religion                  85
Industry: type 13         67
Trade: type 4             64
Trade: type 5             49
Industry: type 8          24
Name: ORGANIZATION_TYPE, dtype: int64
reg oper account         73830
reg oper spec account    12080
not specified            5687
org spec account         5619
Name: FONDKAPREMONT_MODE, dtype: int64
block of flats      150503
specific housing    1499
terraced house      1212
Name: HOUSETYPE_MODE, dtype: int64
Panel           66040
Stone, brick    64815
Block           9253
Wooden          5362
Mixed           2296
Monolithic      1779
Others          1625
Name: WALLSMATERIAL_MODE, dtype: int64
No     159428
Yes    2328
Name: EMERGENCYSTATE_MODE, dtype: int64

In [17]:
cat_feats

['NAME_CONTRACT_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'FLAG_LAST_APPL_PER_CONTRACT',
 'NAME_CASH_LOAN_PURPOSE',
 'NAME_CONTRACT_STATUS',
 'NAME_PAYMENT_TYPE',
 'CODE_REJECT_REASON',
 'NAME_TYPE_SUITE',
 'NAME_CLIENT_TYPE',
 'NAME_GOODS_CATEGORY',
 'NAME_PORTFOLIO',
 'NAME_PRODUCT_TYPE',
 'CHANNEL_TYPE',
 'NAME_SELLER_INDUSTRY',
 'NAME_YIELD_GROUP',
 'PRODUCT_COMBINATION']

In [46]:
 # Credit card data - numerical features
wm = lambda x: np.average(x, weights=-1/credit_card_df.loc[x.index, 'MONTHS_BALANCE'])
credit_card_avgs = credit_card_df.groupby('SK_ID_CURR').agg(wm)   
merged_df = merged_df.merge(credit_card_avgs, left_on='SK_ID_CURR', right_index=True,
                            how='left', suffixes=['', '_CCAVG'])

In [50]:
tmp = merged_df.columns[merged_df.dtypes == 'object']
names = [name for name in merged_df.columns if '_CCAVF' in name]
credit_card_avgs

,SK_ID_PREV,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100006,1489396.0,-2.448980,0.000000,270000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100011,1843384.0,-18.967766,16910.295179,128058.923979,615.170784,615.170784,0.000000,0.000000,NaN,2057.194314,...,16244.769731,16887.870680,16887.870680,0.013670,0.013670,0.000000,0.000000,NaN,0.000000,0.000000
100013,2038692.0,-18.652500,4291.324329,76824.733090,NaN,1368.505798,NaN,NaN,NaN,1924.271728,...,4073.078347,4274.181760,4274.181760,NaN,0.054914,NaN,NaN,NaN,0.002816,0.002816
100021,2594025.0,-6.813332,0.000000,675000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100023,1499902.0,-6.742270,0.000000,160220.577058,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100028,1914954.0,-10.939440,15993.090127,225000.000000,NaN,11048.519574,NaN,NaN,NaN,NaN,...,15470.701905,15784.144702,15784.144702,NaN,3.712114,NaN,NaN,NaN,0.000000,0.000000
100036,2621538.0,-5.504249,0.000000,84815.709116,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100042,2137382.0,-16.753181,8843.990806,57283.202246,805.742150,1512.040904,614.047839,92.250915,NaN,2087.285884,...,8457.314145,8828.210493,8828.210493,0.058559,0.102645,0.013460,0.030627,NaN,0.004894,0.000000
100043,1557583.0,-8.070831,71027.895576,128945.750800,660.340729,3805.401213,0.000000,3145.060484,NaN,NaN,...,69370.079080,70951.205071,70951.205071,0.019566,0.093678,0.000000,0.074112,NaN,0.000000,0.000000
100047,1472630.0,-14.874744,0.000000,212672.325077,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
100048,1060558.0,-7.697570,24583.909034,225000.000000,NaN,7551.899807,NaN,NaN,NaN,NaN,...,23733.801709,24495.997805,24495.997805,NaN,0.189322,NaN,NaN,NaN,0.000000,0.000000
100049,1209367.0,-5.773769,79406.794728,111651.632480,NaN,13651.018321,NaN,NaN,3098.943528,NaN,...,77766.597270,78844.815900,78844.815900,NaN,2.952976,NaN,NaN,2.287301,0.000000,0.000000
100050,1794209.0,-2.699725,0.000000,180000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100059,1787234.0,-4.950796,0.000000,25392.116590,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100066,1852787.0,-4.520484,0.000000,38222.902312,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100067,2833536.0,-17.231613,36542.434505,45000.000000,161.437816,4392.369305,0.000000,4230.931488,NaN,4972.404676,...,35366.599224,36531.051704,36531.051704,0.017539,1.420251,0.000000,1.402712,NaN,0.008031,0.008031
100075,1596605.0,-4.374051,173820.728576,225000.000000,66660.826644,66896.146670,0.000000,235.320026,7228.364225,64225.816129,...,155550.002298,162636.147318,162636.147318,5.989152,6.249512,0.000000,0.260360,4.625949,0.000000,0.000000
100077,1691588.0,-5.652759,0.000000,22106.325707,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100082,2628319.0,-21.613871,4609.984189,62711.903424,NaN,923.524563,NaN,NaN,NaN,1296.325405,...,4348.794206,4603.411830,4603.411830,NaN,0.024767,NaN,NaN,NaN,3.981602,0.003721
100083,1565121.0,-8.758348,0.000000,90000.000000,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
100086,1856124.0,-16.753181,11607.578609,70723.405005,NaN,277.003661,NaN,NaN,NaN,1408.768747,...,10964.192669,11620.275833,11634.428786,NaN,0.012311,NaN,NaN,NaN,0.062397,0.062397
100090,2444847.0,-7.129814,0.000000,182604.683514,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100100,1595956.0,-18.338529,12668.125514,59803.883372,1514.380465,1639.173250,49.320690,75.472094,NaN,2797.316475,...,12035.795059,12656.554053,12656.554053,0.058723,0.062991,0.002192,0.002075,NaN,0.045984,0.045984
100101,1363286.0,-4.305623,309919.564888,518355.194827,NaN,111413.749337,NaN,NaN,14326.934032,NaN,...,305423.745434,308736.855620,308736.855620,NaN,14.157122,NaN,NaN,8.716345,0.000000,0.000000
100107,1128717.0,-3.642532,105889.450854,122273.715521,NaN,13739.346395,NaN,NaN,5147.146489,NaN,...,103734.133960,105706.537796,105706.537796,NaN,6.442236,NaN,NaN,5.450789,4.304811,0.000000
100109,1531295.0,-25.026240,19499.176921,76675.028901,NaN,1852.966212,NaN,NaN,NaN,3334.631848,...,18431.172364,19482.739098,19482.739098,NaN,0.065122,NaN,NaN,NaN,0.018461,0.018461
100110,2541902.0,-2.189781,0.000000,135000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100112,1862086.0,-9.634969,0.000000,89763.253755,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100114,2269937.0,-2.699725,0.000000,130041.322314,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
100115,1102366.0,-2.000000,46570.500000,135000.000000,45000.000000,45000.000000,0.000000,0.000000,0.000000,NaN,...,45000.000000,45000.000000,45000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456173,1024210.0,-6.558580,307437.672389,900000.000000,0.000000,51545.033389,0.000000,51545.033389,12441.815259,NaN,...,297596.502525,307424.036180,307424.036180,0.000000,0.554065,0.000000,0.554065,6.698662,0.000000,0.000000
456178,1600594.0,-5.773769,0.000000,122105.190831,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
456186,2292373.0,-5.773769,6172.295367,34983.866853,NaN,9477.363450,NaN,NaN,776.782576,NaN,...,6040.801243,6040.801243,6040.801243,NaN,6.294800,NaN,NaN,4.680540,0.000000,0.000000
456188,2234082.0,-24.155787,0.000000,5997.503389,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
456189,1130837.0,-6.159134,136954.442970,316334.579258,2498.518066,4475.049357,0.000000,1976.531291,6963.373634,NaN,...,132005.957095,135944.138059,135944.138059,0.061426,0.141617,0.000000,0.080191,15.852509,0.000000,0.000000
456195,1194283.0,-3.116883,0.000000,135000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
456198,2287927.0,-18.652500,41507.453998,85631.007336,654.971594,654.971594,0.000000,0.000000,2949.815931,5770.421919,...,39723.215222,41505.549820,41505.549820,0.102113,0.102113,0.000000,0.000000,77.840789,0.075225,0.075225
456199,1255892.0,-2.699725,0.000000,675000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
456201,2681655.0,-1.920000,0.000000,270000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
456206,2761644.0,-10.062373,285092.351487,450000.000000,0.000000,9961.124669,0.000000,9961.124669,NaN,21948.519970,...,276208.920253,283442.342503,283442.342503,0.000000,0.230431,0.000000,0.230431,NaN,0.000000,0.000000
456210,2064808.0,-7.804332,0.000000,405000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
456211,1849437.0,-2.000000,136570.500000,135000.000000,135000.000000,135000.000000,0.000000,0.000000,0.000000,NaN,...,135000.000000,135000.000000,135000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
456213,2126778.0,-10.804691,128364.007123,198783.212963,4180.005822,4180.005822,0.000000,0.000000,NaN,NaN,...,124674.228964,128571.110491,128571.110491,0.138967,0.138967,0.000000,0.000000,NaN,0.065426,0.065426
456214,1921268.0,-2.189781,461380.145255,540000.000000,7390.510949,86480.512226,0.000000,79090.001277,22293.450000,41879.562044,...,450739.745803,461036.240146,461036.240146,0.218978,17.160584,0.000000,16.941606,2.810219,0.000000,0.000000
456215,1327087.0,-25.776283,1503.219442,11099.885721,0.000000,0.000000,0.000000,0.000000,124.523117,1045.512824,...,1436.837952,1470.895916,1470.895916,0.000000,0.000000,0.000000,0.000000,19.956543,0.000000,0.000000
456217,2287911.0,-18.495637,177158.796907,180000.000000,2990.237426,3371.061447,0.000000,380.824021,NaN,9323.336874,...,170636.548814,177158.796907,177158.796907,0.456089,0.662232,0.000000,0.206143,NaN,0.084366,0.084366
456219,2051360.0,-3.414172,109737.878942,123544.235198,7720.295353,12255.024550,0.000000,4534.729197,5174.721501,NaN,...,103909.727859,108376.239056,108376.239056,0.563338,3.588132,0.000000,3.024793,4.772660,0.000000,0.000000
456225,2445843.0,-18.652500,149558.648442,180000.000000,5145.662714,9155.490169,0.000000,4009.827455,NaN,10997.554850,...,143438.088038,149549.344211,149549.344211,0.585758,2.373940,0.000000,1.788182,NaN,0.220915,0.220915
456233,2458558.0,-3.414172,68752.519849,157923.723073,1344.330037,29836.082231,0.000000,28491.752195,2684.800291,NaN,...,66985.918317,68442.451498,68442.451498,0.323127,7.974529,0.000000,7.651402,4.692047,0.000000,0.000000
456235,1499583.0,-4.950796,0.000000,87974.674501,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
456236,2789041.0,-25.776283,7187.974194,19885.306766,1090.227714,1090.227714,0.000000,0.000000,594.584465,1690.466666,...,6860.305633,7174.827879,7174.827879,0.052072,0.052072,0.000000,0.000000,28.035164,0.002886,0.002886
456237,2556618.0,-4.520484,33472.224367,157192.744847,NaN,5244.771137,NaN,NaN,2292.025153,NaN,...,32264.326082,33224.416444,33224.416444,NaN,0.305993,NaN,NaN,8.193690,0.000000,0.000000
456239,2131120.0,-24.563368,62262.720330,116628.242515,2238.846780,2246.269079,0.000000,7.422299,NaN,6317.251634,...,59962.536153,62257.724403,62257.724403,0.276067,0.292561,0.000000,0.016494,NaN,0.003323,0.003323
456241,1509615.0,-10.582995,0.000000,124252.149794,NaN,0.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,0.000000,0.000000
456242,2640681.0,-2.943495,183715.793357,216721.419185,12181.340342,24128.738633,0.000000,11947.398292,9138.339422,NaN,...,179483.501472,183408.046971,183408.046971,0.534385,2.831362,0.000000,2.296978,5.056505,0.000000,0.000000
456244,2181926.0,-9.528384,40060.267473,109952.188246,6498.096079,7118.505253,0.000000,614.434180,NaN,10343.623986,...,38789.343544,39768.541159,39768.541159,0.293166,0.374504,0.000000,0.081338,NaN,0.000000,0.000000
456246,1079732.0,-4.374051,8364.522019,135000.000000,0.000000,9842.326969,0.000000,9842.326969,1148.004383,NaN,...,8219.706171,8229.756099,8229.756099,0.000000,1.722716,0.000000,1.722716,4.625949,0.000000,0.000000
456247,1595171.0,-22.909435,6045.053353,67239.005063,583.268771,587.524984,0.000000,4.256213,379.419478,1752.866266,...,5750.056409,6010.534554,6010.534554,0.031749,0.041939,0.000000,0.010190,30.478221,0.008448,0.005316
456248,2743495.0,-8.285427,0.000000,900000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000
456250,1794451.0,-3.866963,164461.005719,177341.463131,4855.674777,4855.674777,0.000000,0.000000,8208.649921,NaN,...,161272.443956,164003.442595,164003.442595,0.217273,0.217273,0.000000,0.000000,7.159891,0.000000,0.000000

In [48]:
# Credit card data - categorical features
most_recent_index = credit_card_df.groupby('SK_ID_CURR')['MONTHS_BALANCE'].idxmax()
cat_feats = credit_card_df.columns[credit_card_df.dtypes == 'object'].tolist()  + ['SK_ID_CURR']
merged_df = merged_df.merge(credit_card_df.loc[most_recent_index, cat_feats], left_on='SK_ID_CURR', right_on='SK_ID_CURR',
                   how='left', suffixes=['', '_CCAVG'])
print('Shape after merging with credit card data = {}'.format(merged_df.shape))

Shape after merging with credit card data = (307511, 185)

In [51]:
# Credit bureau data - numerical features
credit_bureau_avgs = bureau_df.groupby('SK_ID_CURR').mean()
merged_df = merged_df.merge(credit_bureau_avgs, left_on='SK_ID_CURR', right_index=True,
                            how='left', suffixes=['', '_BAVG'])
print('Shape after merging with credit bureau data = {}'.format(merged_df.shape))

Shape after merging with credit bureau data = (307511, 198)

In [54]:
# Bureau balance data
most_recent_index = bureau_balance_df.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].idxmax()
bureau_balance_df = bureau_balance_df.loc[most_recent_index, :]
merged_df = merged_df.merge(bureau_balance_df, left_on='SK_ID_BUREAU', right_on='SK_ID_BUREAU',
                        how='left', suffixes=['', '_B_B'])
print('Shape after merging with bureau balance data = {}'.format(merged_df.shape))

Shape after merging with bureau balance data = (307511, 200)

In [55]:
 # Pos cash data - weight values by recency when averaging
wm = lambda x: np.average(x, weights=-1/pos_cash_df.loc[x.index, 'MONTHS_BALANCE'])
f = {'CNT_INSTALMENT': wm, 'CNT_INSTALMENT_FUTURE': wm, 'SK_DPD': wm, 'SK_DPD_DEF':wm}
cash_avg = pos_cash_df.groupby('SK_ID_CURR')['CNT_INSTALMENT','CNT_INSTALMENT_FUTURE',
                                             'SK_DPD', 'SK_DPD_DEF'].agg(f)
merged_df = merged_df.merge(cash_avg, left_on='SK_ID_CURR', right_index=True,
                            how='left', suffixes=['', '_CAVG'])

In [56]:
# Pos cash data data - categorical features
most_recent_index = pos_cash_df.groupby('SK_ID_CURR')['MONTHS_BALANCE'].idxmax()
cat_feats = pos_cash_df.columns[pos_cash_df.dtypes == 'object'].tolist()  + ['SK_ID_CURR']
merged_df = merged_df.merge(pos_cash_df.loc[most_recent_index, cat_feats], left_on='SK_ID_CURR', right_on='SK_ID_CURR',
                   how='left', suffixes=['', '_CAVG'])
print('Shape after merging with pos cash data = {}'.format(merged_df.shape))

Shape after merging with pos cash data = (307511, 205)

In [57]:
# Installments data
ins_avg = install_df.groupby('SK_ID_CURR').mean()
merged_df = merged_df.merge(ins_avg, left_on='SK_ID_CURR', right_index=True,
                            how='left', suffixes=['', '_IAVG'])
print('Shape after merging with installments data = {}'.format(merged_df.shape))

Shape after merging with installments data = (307511, 212)

In [58]:
# Add more value counts
merged_df = merged_df.merge(pd.DataFrame(bureau_df['SK_ID_CURR'].value_counts()), left_on='SK_ID_CURR', 
                            right_index=True, how='left', suffixes=['', '_CNT_BUREAU'])
merged_df = merged_df.merge(pd.DataFrame(credit_card_df['SK_ID_CURR'].value_counts()), left_on='SK_ID_CURR', 
                            right_index=True, how='left', suffixes=['', '_CNT_CRED_CARD'])
merged_df = merged_df.merge(pd.DataFrame(pos_cash_df['SK_ID_CURR'].value_counts()), left_on='SK_ID_CURR', 
                            right_index=True, how='left', suffixes=['', '_CNT_POS_CASH'])
merged_df = merged_df.merge(pd.DataFrame(install_df['SK_ID_CURR'].value_counts()), left_on='SK_ID_CURR', 
                            right_index=True, how='left', suffixes=['', '_CNT_INSTALL'])
print('Shape after merging with counts data = {}'.format(merged_df.shape))

Shape after merging with counts data = (307511, 216)